@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
.flex-container {
  @apply flex justify-center items-center;
}
.flex-column {
  @apply flex flex-col items-center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.scrollOff {
  overflow-y: hidden;
}
button {
  font-size: 12px;
  border-radius: 8px;
  font-weight: 600;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-size: 18px;
}
h4 {
  font-size: 28px;
  font-weight: 700;
}
h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
h6 {
  font-size: 18px;
}
